.noindent{
  text-indent:0;
}

.italic{
  font-style:italic;
}

.underline{
  text-decoration:underline;
}

.nounderline{
  text-decoration:none;
  text-decoration-line:none;
}

.serif{
  font-family:serif;
}

.right{
  text-align:right;
}
